@charset "UTF-8";

/* NAVBAR 1*/
#navOne{
    background-color: #242425 !important;
}

.navbar-brand{
    font-weight: 900;
    font-size: 26px;
}

form{
    border: 1px solid #FFF;
    border-radius: 2px;
}

input, 
#search, 
#heart, 
#handbag, 
#person{
    border: none !important;
    box-shadow: none !important;
}

input::placeholder{
    color: #FFF !important;
    opacity: 1 !important;
}



/* NAVBAR 2*/
#navTwo{
    background-color: #C09578;
}

#navLinks a{
    font-weight: bold;
    color: #FFF;
}

#navLinks a:hover{
    color: #f4f4f4;
}



/* CARROSSEL 1 */
.carousel-caption{
    background-color: #252525;
}

.carousel-caption h3{
    font-size: 52px;
}